body{
    font-family: 'Times New Roman ', sans-serif;
}

.wrapper{
    width: 1050px;
    margin: 0 auto;
    padding: 50px 50px 60px 50px;
    border-left: 2px solid #dbdbdb;
    border-right: 2px solid #dbdbdb;
}
/* Herder */
.logo{
    padding-bottom: 40px;
}

.top-nav{
    margin-bottom: 40px;
    background-color: #525151;
}
.top-nav:after{
    content: "";
    display: block;
    clear: both;
}
.top-nav a {
    float: left;
    padding: 15px 25px;
    font-size: 15px;
    color: #fff;
}
.top-nav a:hover{
    background-color: #3f3f3f;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

/* Content */

section:after{
    content: "";
    display: block;
    clear: both;
}
.sidebar-left{
    display: inline-block;
    width: 30%;
}
.sidebar-left li{
    padding: 10px;
    border: 1px solid #dbdbdb;
    color: #c8c8c8;
    font-size: 15px;
}

.sidebar-left li:hover {
    border:1px solid #dbdbdb;
    transform: translateX(20px);
}

.content{
    float: right;
    width: 65%;
    text-align: left;
}
.bycicle-post{
    width:100%;
}
.description{
    padding: 40px 25px 60px;
}

/* Footer */

footer{
    padding: 15px 25px;
    background-color: #e1e1e1;
}
footer:after{
    content: "";
    display: block;
    clear: both;
}
.bottom-nav{
    float: left;
}
.bottom-nav li{
    float: right;
    margin-right: 100px;
    color: #000;
    font-size: 15px;
}
.bottom-nav li:hover{
    border-bottom: 1px solid #000;
}
.rights{
    float:right;
}