*{
    box-sizing: border-box;
}

body{
    background: url("../img/bg-slice.jpg")repeat-x top center;
    background-color: #0C75A0;
}
.wrapper{
    width: 1000px;
    margin: 37px auto;
    background-color: #fff;
    border: 1px solid #c7cacf;
    box-shadow: 5px 5px 15px #303030;
}
.wrapper:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Header */
header{
    padding: 9px 30px 0;
}
header:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.logo-container{
    position: relative;
    float: left;
    display: inline-block;
    width: 300px;
}
.sub-logo{
    position: absolute;
    top: 110px;
    left: 70px;
    display: block;
}
.top-nav{
    float: right;
    width: 450px;
}
.nav-contacts{
    float: right;
}
.nav-contacts a{
    color: #128aa7;
    line-height: 1.5;
}
.nav-countries{
    float: right;
    margin: 30px 0 0;
}
.nav-countries li{
    float: left;
    margin-left: 20px;
    text-align: center;
}
.nav-countries a{
    color: #128aa7;
    font-size: 10px;
    border-bottom: 1px solid transparent
}
.nav-countries a:hover{
    border-bottom: 1px solid #128aa7;
}
.flags{
    display: block;
}
/*   Не знаю к чему относится эта часть страницы. То-ли продолжается хедер, то-ли уже идет основной контенс - збивает выпадающее меню */

.portfolio img{
    width: 100%;
    margin-bottom: -2px;
    border-top: 2px solid #128aa7;
    border-bottom: 2px solid #128aa7;
}


.nav-content{
    display: block;
    position: absolute;
    padding: 5px 15px;
    background: #303030;
    font-size: 14px;
}

.nav-content li{
    display: inline-block;
    height: 20px;
}
.nav-content a{
    color: #fff;
}
.menu:after{
    content: "";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
.menu{
    background-color: #303030;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    color: #fff;
    padding: 10px 56px;
    text-decoration: none;
}
ul.menu > li>.dropdown:after{
    content:"\f0da";
    /*margin-left: 5px;*/
    font-family: "FontAwesome";
    vertical-align: middle;
}
ul.menu > li:hover {
    background-color: #635d5d;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 34px;
    left: 0;
    background-color: white;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: #fff;
    background-color: #303030;
    text-decoration: none;
}
ul.submenu > li > a{
    border-bottom: 1px solid transparent;
}
ul.submenu > li > a:hover {
    border-bottom: 1px solid #fff;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}

.container{
    width:100%;
    overflow: hidden;
}
.left-column{
    float: left;
    width: 25%;
    padding: 15px 25px;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    background: #edeef0;
    border-right: 1px solid #c7cacf;
    text-align: center;
}
.right-column {
    float: right;
    width: 25%;
    padding: 15px 25px;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    background: #edeef0;
    border-left: 1px solid #c7cacf;
    text-align: center;
}
.center-column{
    width: 50%;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
/* Footer */

footer{
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
}
