.container{
    max-width: 960px;

 }

img{
    max-width: 100%;
    height: auto;
    height: auto\9; /* IE8 */
}

 /* Header */

.header{
    padding: 55px 0;
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
}
