
/* Header */

/* Main */

.about{
    padding: 0;
}
.about-section{
    padding: 55px 0 72px;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#745083, endColorstr=#33253a)";
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#745083, endColorstr=#33253a);
}
.brands{
    padding: 0;
}
.brands-section{
    padding: 106px 0 20px;
}

footer{
    padding: 0;
}
.footer-section{
    padding: 40px 0 150px;
}
