
/* Main */

.about{
    padding: 55px 0 72px;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#745083, endColorstr=#33253a)";
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#745083, endColorstr=#33253a);
}

.brands-section{
    padding: 106px 0 20px;
}



