.container{
    min-width: 960px;
}

/* Header */
.size{
    padding-bottom: 150px;
}
header{
    float: none;
    padding-bottom: 170px;
}
header h1{
    padding-bottom: 0;
}

.footer-nav-header {
    float: right;
}
.footer-nav-header li{
    float: left;
}

.box{
    align-items: initial;
}
.title{
    padding-top: 115px;
}
.title h2{
    font-size: 60px;
}
.title h2:before{
    top: 110px;
    left: -60px;
}
.title h2:after{
    top: 110px;
    right: -500px;
}
.title span{
    font-size: 32px;
}
.title-hide{
    display: inline;
    font-size: 18px;
}
span.title-hide-show{
    display: inline;
    color: #fff;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-transform: none;
}

/* main */


/* About */
.about h3{
    font-size: 30px;
}
li.second-column{
    list-style-image: url("../img/say.png");
}
li.third-column{
    list-style-image: url("../img/ringtonepng.png");
}

/* Portfolio */
.portfolio{
    width: 47%;
    margin-right: 3%;
}
.portfolio a{
    font-size: 30px;
    /*background: url("../img/photo.png") 0 0 no-repeat ;*/
    /*background-position: 0 0;*/
}
.portfolio span{
    display: inline;
}
/* Updates */
.updates{
    width: 47%;
    margin-left: 3%;
}
.post-info-show{
    display: inline;
    color: #454545;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
}
  /* Brands */


.brands li{
    margin: 0 7%;
}

.news-box{
    display: none;
}
.info,
.comments,
.news{
    width: 33%;
    float: left;
    padding: 0 2%;
    display: block;
    text-align: left;
}
.info a{
    color: #454545;
    font-family: "League Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-transform: uppercase;
}
.info span{
    color: #b9b9b9;
}
.info p,
.comments p,
.news p {
    padding-top: 10px;
    color: #787878;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
}
p.info-copyright{
    padding: 5px 0 10px;
    color: #c5c5c5;
    font-family: "Georgia Italic";
    font-size: 16px;
}
.comments h3,
.news h3{
    color: #454545;
    font-family: "League Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
}




/*  Footer */
.footer-nav{
    padding-bottom: 0;
}
.footer-nav li{
    margin-right: 25px;
}
