header,
main,
footer{
    min-width: 768px;
}

/* Header */
nav:after{
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;

}
.header-menu{
    display: none;
}
header h1{
    padding-bottom: 54px;
    padding-left: 15px;
}
.site-logo{
    float: left;
}

.footer-nav-header{
    display: block;
    float: left;
}
.footer-nav-header li{
    display: inline-block;
    padding-bottom: 20px;
}

.footer-nav-header li:first-child{
    padding-left: 15px;
}

.footer-nav-header li a{
    display: block;
    margin-right: 15px;
    font-family: "League Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
}
.footer-nav-header li a:hover{
    border-bottom: 3px solid #edbfff;
}
span.title-hide-show{
    display: none;
}

.title{
    width: 53%;
    padding: 50px 0 0 65px;
    text-align: left;
}

.title-hide{
    display: block;
    color: #fff;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
}

.title h2{
    font-size: 48px;
}

.arrow-left span{
    top: 65px;
    left: -42px;
}

.title span{
    font-size: 24px;
}

.picture{
     width: 33%;
}

.arrow-right span{
    top: 114px;
    right: 35px;
}

/* main */
/*About */

.about:after{
    content:"";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.about ul{
    width: auto;
}
.about li{
    width: 25%;
    float: left;
    margin: 0 4%;
}
.about p{
    font-size: 16px;
}
.about a{
    font-size: 18px;
}

/* Blog */

.blog:after{
    content:"";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.portfolio{
    width: 45%;
    margin: 0 2.5%;
    float: left;
    padding: 0;
}
.updates{
    width: 45%;
    margin: 0 2.5%;
    float: right;
}
.updates h3{
    margin: 10px 0 20px;
}

/* Brands */
.brands{
    padding: 30px 0;
}

.brands:after{
    content:"";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.brands li{
    width: auto;
    float: left;
    margin: 0 2.4%;
}


/* Products */

.products{
    padding: 100px 0;
}
.products:after{
    content:"";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.news-box{
    width: auto;
}
.news-box li{
    float: left;
    width: 29%;
    margin: 2%;
}

/* Footer */
footer{
    padding: 40px 0 80px;
}
.footer-nav{
    padding-bottom: 40px;
}

.footer-nav li{
    float: left;
    margin: 0 15px;
}
footer p{
    float: right;
    padding: 0 40px 0 0;
}
.footer-nav a{
    font-size: 20px;
}