header,
main,
footer{
    min-width: 480px;
}


.header-slider{
    position: relative;
    align-items: stretch;
    padding: 0;
    background: rgba(0, 0, 0, 0.2);
}

.header-slider:after{
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.box{
    position: relative;
}

.title {
    float: left;
    width: 50%;
    padding: 100px 0 0 50px;
    text-align: left;
}

.arrow-left span{
    top: 9px;
    left: -40px;
}

.picture{
    display: block;
    float: right;
    width: 41%;
    margin-right: 30px;
}

.arrow-right span{
    top: 106px;
    right: 10px;
}

/* Main */

.about ul{
    width: 75%;
}

span.show{
    display: inline;
}

/* Blog */

.portfolio span.hide{
    display: inline;
    color: #454545;
}

.updates{
    width: 75%;
}

.post-title-hide{
    display: inline-block;
}
.post-info-date{
    display: inline-block;
}

/* Brands */

.brands li{
    width: 32%;
    margin: 0 0 5% 0;
}
.brand-aligned{
     margin: 15px 0;
}

/*Products */

.products{
    display: block;
    padding: 60px 0 70px;
}
.info{
    display: none;
}
.comments{
    display: none;
}
.news{
    display: none;
}
.news-box{
    width: 80%;
    margin:  0 auto;
}
.news-box ul{
    text-align: left;
}
.news-box ul li{
    padding: 15px 0;
}
.news-box h4{
    padding-bottom: 10px;
    color: #454545;
    font-family: "League Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
}
p.news-info{
    color: #454545;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
}

/*  Footer */

.footer-nav{
    display: block;
}
.footer-nav li{
    display: inline-block;
    margin: 0 3px;
}
.footer-nav a{
    font-family: "League Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
}
footer a{
    display: inline-block;
    padding-top: 20px;
}


