

.wrapper{
    width: 920px;
    margin: 0 auto;
    padding-top: 20px;
}
/* Header */
header:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}
p.number{
    float: left;
    position: relative;
    padding: 0 5px 0 35px;
    color: #5e696d;
    font-size: 18px;
}
p.number:before{
    content:"";
    position: absolute;
    background: url("../img/phone.png") no-repeat left;
    width: 15px;
    height: 20px;
    top: 2px;
    left: 8px;
    z-index: 2;
}
p.number:after{
    content:"";
    position: absolute;
    background: #0e385c;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 50%;
    top: 0;
    left: 3px;
    z-index: 1;
}
.registration{
    position: relative;
    background: url("../img/input-bg.png")repeat-x;
    display: inline-block;
    width: 550px;
    height: 25px;
    padding: 3px 4px 3px 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 10px 10px 9px -3px rgba(180,180,180,1);
    -moz-box-shadow: 10px 10px 9px -3px rgba(180,180,180,1);
    box-shadow: 10px 10px 9px -3px rgba(180,180,180,1);
}
.registration:before{
    content: "";
    position: absolute;
    background: url("../img/user.png") no-repeat;
    width: 14px;
    height: 18px;
    top: 2px;
    left: 2px;
}
.btn{
    border: none;
    color: #fff;
    background: transparent;
    font-size: 11px;
   line-height: 11px;
}
.featured{
    padding-right: 5px;
    border-right: 1px solid #FFFFFF;
}
.registration a.forget{
    margin-left: 13px;
    border-bottom: 1px solid #bfbfbf;
    color: #bfbfbf;
    font-size: 12px;
    line-height: 12px;
}
.nav-head {
    float: right;
    margin-top: 2px;
    padding: 0 6px;
    border: 1px solid gray;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 9px -3px rgba(180,180,180,1);
    -moz-box-shadow: 5px 5px 9px -3px rgba(180,180,180,1);
    box-shadow: 5px 5px 9px -3px rgba(180,180,180,1);
}
.nav-head li{
    float: left;
    padding: 2px;
}
.bunner{
    margin: 5px 0;
}
.bunner img{
    width: 100%;
}

/* Content */

nav {
    height: 35px;
    padding: 5px 10px 5px 110px;
    background: url("../img/nav-bg.png") repeat-x;
    border-radius: 5px;
}
nav:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}
.menu li{
    float: left;
}
.menu li a{
    display: block;
    margin: 0 10px;
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #62686c;
}
.menu li a:hover{
    background: #1b5a7b;
    color: #fff;
}
.shopping{
    float: right;
}
.shopping li{
    position: relative;
    float: left;
    padding: 5px;
}
.shopping a{
    display: block;
    color:#fff;
    font-size: 11px;
}
.tray:before{
    content: "";
    background: url("../img/tray.png") no-repeat;
    position: absolute;
    width: 21px;
    height: 17px;
    top: 4px;
    left: -22px;
}
.shopping span{
    color: #1b5a7b;
}
span.sum{
    padding-left: 5px;
}

/* Aside */

.content:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}
.left{
    width: 200px;
    float: left;
    position: relative;
    margin-top: 30px;
}
.left p{
    margin-bottom: 15px;
    padding: 5px 5px 5px 30px;
    border: 1px solid #114165;
    border-radius: 13px;
    color: #114165;
    font-size: 13px;
    -webkit-box-shadow: 5px 5px 9px -3px rgba(180,180,180,1);
    -moz-box-shadow: 5px 5px 9px -3px rgba(180,180,180,1);
    box-shadow: 5px 5px 9px -3px rgba(180,180,180,1);
}
.left p:before{
    content:"";
    position: absolute;
    background: url("../img/catalog-list.png") no-repeat;
    width: 12px;
    height: 14px;
    top: 6px;
    left: 9px;
    z-index: 1;
}
.left p:after{
    content: "";
    position: absolute;
    background-image: linear-gradient(#1e6484, #0c3357);
    padding: 10px;
    top: 3px;
    left: 4px;
    border: 1px solid transparent;
    border-radius: 50%;
}
li .titled{
    display: inline-block;
    position: relative;
    border: 1px solid #114165;
    border-radius: 12px;
    color: #114165;
}
a.titled{
    display: inline-block;
    padding: 4px 80px 3px 28px;
    font-size: 14px;
    vertical-align: middle;
}
a.titled:before{
    content: "";
    display: block;
    background: url("../img/circle.png") no-repeat;
    width: 22px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 2px;
}
.sublist{
    padding-left: 40px;
}
.sublist li {
    margin-bottom: 5px;
    list-style-type: circle;
}
.sublist li:first-of-type{
    margin-top: 10px;
}
.sublist li a{
    display: inline-block;
    color: #465961;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    font-weight: bold;
}
.sublist li a:hover{
    border-bottom: 1px solid;
    color: #0c3256;
    font-style: italic;
    font-weight: bold;
}
.right{
    width: 200px;
    float: right;
    position: relative;
    margin-top: 30px;
}
.right p{
    margin-bottom: 15px;
    padding: 5px 5px 5px 30px;
    border: 1px solid #114165;
    border-radius: 13px;
    color: #114165;
    font-size: 13px;
    -webkit-box-shadow: 5px 5px 9px -3px rgba(180,180,180,1);
    -moz-box-shadow: 5px 5px 9px -3px rgba(180,180,180,1);
    box-shadow: 5px 5px 9px -3px rgba(180,180,180,1);
}
.right p:before{
    content:"";
    position: absolute;
    background: url("../img/catalog-list.png") no-repeat;
    width: 12px;
    height: 14px;
    top: 6px;
    left: 9px;
    z-index: 1;
}
.right p:after{
    content: "";
    position: absolute;
    background-image: linear-gradient(#1e6484, #0c3357);
    padding: 10px;
    top: 3px;
    left: 4px;
    border: 1px solid transparent;
    border-radius: 50%;
}
.right-search{
    margin-left: 25px;
}
legend{
    display: block;
    margin: 10px 0;
    padding: 4px 80px 3px 28px;
    font-size: 14px;
    vertical-align: middle;
    position: relative;
    border: 1px solid #0c3357;
    border-radius: 12px;
    color: #0c3357;
}
legend:before{
    content: "";
    display: block;
    background: url("../img/circle.png") no-repeat;
    width: 22px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 2px;
}
label{
    display: block;
    padding: 7px 0;
}
.choose{
    margin-top: 20px;
    padding: 5px 10px;
    color: #e5e9ea;
    background: #164e70;
    border: 1px solid transparent;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(219,219,219,1);
    -moz-box-shadow: 5px 5px 5px 0 rgba(219,219,219,1);
    box-shadow: 5px 5px 5px 0 rgba(219,219,219,1);
}
.container{
    float: left;
    width: 500px;
    margin: 30px 10px;
    padding: 10px;
    background-image: linear-gradient(#e4e7e8, #93a7b0);
}
.container:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}
.brands{
    clear: both;
}
.container li{
    float: left;
    margin: 10px 12px;
    text-align: center;
}
.container img{
    padding: 3px 30px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}
a.brand-name{
    color: #206988;
    font-size: 15px;
}
p.brand-type{
    font-size: 13px;
}
p.price{
    color: #114165;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}
.brands{
    margin-bottom: 25px;
padding: 0 115px;
}
.brands li{
    display: inline-block;
    padding-right: 11px;
}
.brands li:last-child{
    padding-right: 0;
}
/* Footer */

footer{
    background: url("../img/footer-bg.jpg") no-repeat;
    background-size: cover;
    padding: 10px 50px;
    text-align: center;
}
footer li{
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #bec6c9;
}
footer a.footer-nav{
    color: #bec6c9;
    font-size: 12px;
    text-transform: uppercase;
}
footer li:last-child{
    border-right: none;
}
footer a.footer-nav:hover{
    color: #40829e;
}
footer p{
    margin: 10px 0;
    color: #7f4740;
    font-size: 10px;
}


