*{
    box-sizing: border-box;
}
body{
    background-image: url("../img/background.png");
    background-size: cover;
}

.wrapper{
    width: 950px;
    margin: 0 auto;
    padding: 60px 70px 30px;
}
p{
    color:#fff;
}
/* Header */
nav{
    float: right;
    margin-top: 90px;
}
nav a{
    display: inline-block;
    margin-bottom: 5px;
    color: #fff;
}

/* Content */
.content:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.content a{
    font-size: 15px;
}
.gallery-top li,
.gallery-bottom li{
    float: left;
    margin: 0 15px;
    padding-bottom: 60px;
    text-align: center;
}
.gallery-top li:first-child,
.gallery-bottom li:first-child{
    margin-left: 0;
}
.gallery-top li:last-child,
.gallery-bottom li:last-child {
    margin-right: 0;
}
.country{
    display: block;
    width: 250px;
    border: 3px outset #9b9b9b;
}

/* Footer */

footer{
    padding-top: 130px;
    text-align: center;
}

